openjdk-b145/build*
swinglabel/nbproject/private*
swinglabel/build*
qtlabel/qtlabel-build-desktop*
qtlabel/qtlabel.pro.user
qtlabel-build-desktop*
qtfreetype-build-desktop*
qtfreetype/qtfreetype.pro.user
