openjdk7/build*
openjdk7/.cproject
openjdk7/.project
openjdk7/.settings*
*.pro.user
*-build-desktop/
demo/java/nbproject/private*
demo/java/build/*
demo/qtlabel-build-desktop*
demo/qt/qtlabel.pro.user
demo/qtfreetype-build-desktop*
demo/freetype/qtfreetype.pro.user
demo/copperchloride/build/*
demo/copperchloride/dist/*
demo/copperchloride/nbproject/private*
openjdk7/jdk/make/netbeans/swing/nbproject/private*
openjdk7/jdk/make/netbeans/awt2d/nbproject/private*
