openjdk-b145/build*
openjdk-b145/.cproject
openjdk-b145/.project
openjdk-b145/.settings*
*.pro.user
*-build-desktop/
demo/java/nbproject/private*
demo/java/build/*
demo/qtlabel-build-desktop*
demo/qt/qtlabel.pro.user
demo/qtfreetype-build-desktop*
demo/freetype/qtfreetype.pro.user
demo/copperchloride/build/*
demo/copperchloride/dist/*
demo/copperchloride/nbproject/private*
openjdk-b145/jdk/make/netbeans/swing/nbproject/private*
